[module]
  [module.hugoVersion]
    extended = true
    min = "0.146.0"
    max = ""
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.mounts]]
    # Workaround for https://github.com/gohugoio/hugo/issues/6945
    source = "assets/scss/modules/bootstrap/_vendor"
    target = "assets/scss/modules/bootstrap/vendor"
  [[module.imports]]
    path = "github.com/twbs/bootstrap"
  [[module.imports.mounts]]
    source = "dist/js"
    target = "assets/js/modules/bootstrap"
    includeFiles = "*.bundle.js"
  [[module.imports.mounts]]
    source = "scss"
    target = "assets/scss/modules/bootstrap"

[params.modules.bootstrap]
  integration = "core"
  excludeSCSS = true
